.App {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 600px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.3;
}

.App p, .App h2 {
  margin-bottom: 15px;
}

.App p {
  line-height: 1.5;
}

.App img {
  max-width: 100%;
}

.App h1, .App h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}

.App h1 {
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.App h2 {
  font-size: 36px;
}

.App a {
  color: rgba(0, 144, 64, 0.8);
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.App a:hover {
  color: rgba(0, 144, 64, 1);
}

.App a:visited {
  color: rgba(0, 144, 64, 1);
}

.App footer p {
  font-size: 13px;
  text-align: center;
}

.App footer p i {
  color: red;
}

.App *:focus {
  outline: 1px solid rgb(0, 144, 64);
}

.App *::selection {
  background: rgba(0, 144, 64, 0.3);
}

.App .update {
  font-size: 13px;
  font-weight: 700;
}
